<h2><i class="fa fa-unlock"></i> Reset your password</h2>

<div class="errormsg" asp-validation-summary="All">@TempData["error"]</div>
<div class="successmsg">@TempData["success"]</div>

<div id="container">
    <div id="form">
        <form asp-controller="Account" asp-action="ResetPasswordURL" method="post">
            <div class="row">
                <div class="col-25">
                    <label for="email">
                        Email
                    </label>
                </div>
                <div class="col-75">
                    <input name="email" type="text" />
                </div>
                <button class="btn-a" type="submit">Reset password</button>
            </div>
        </form>
    </div>
</div>