@model PasswordReset

<h2><i class="fa fa-unlock"></i> Reset password</h2>
<div asp-validation-summary="All" class="errormsg"></div>
<p>@TempData["error"]</p>

<div id="container">
    <div id="form">
        <form asp-action="ResetPassword" method="post">
            <input type="hidden" asp-for="Token" />
            <div class="row">
                <div class="col-25">
                    <label asp-for="Email"></label><span class="mandatory">*</span>
                </div>
                <div class="col-75">
                    <input asp-for="Email" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Password"></label><span class="mandatory">*</span>
                </div>
                <div class="col-75">
                    <input asp-for="Password" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="ConfirmPassword">Confirm password</label><span class="mandatory">*</span>
                </div>
                <div class="col-75">
                    <input type="password" asp-for="ConfirmPassword" />
                </div>
            </div>
            <button class="btn-a" type="submit">Reset password</button>
        </form>
    </div>
</div>

